
.gamesquare {
	width: 30px;
	height:30px;
	float:left;
}


.red {
	background-color:#F00;
	border:1px solid #000;
}

.green {
	background-color:#0B0;
	border:1px solid #000;
}

.blue {
	background-color:#33F;
	border:1px solid #000;
}

.yellow {
	background-color:#FF0;
	border:1px solid #000;
}

.orange {
	background-color:#F90;
	border:1px solid #000;
}

.empty {
	background-color:#EEE;
	border:1px solid #333;
}